/* Slider */
/* line 4, app/assets/stylesheets/slick.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 18, app/assets/stylesheets/slick.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

/* line 25, app/assets/stylesheets/slick.scss */
.slick-list:focus {
  outline: none;
}

/* line 29, app/assets/stylesheets/slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 34, app/assets/stylesheets/slick.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

/* line 43, app/assets/stylesheets/slick.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: 5px;
  margin-right: 5px;
}

/* line 51, app/assets/stylesheets/slick.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

/* line 57, app/assets/stylesheets/slick.scss */
.slick-track:after {
  clear: both;
}

/* line 61, app/assets/stylesheets/slick.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 65, app/assets/stylesheets/slick.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  width: 1100px;
  display: none;
}

/* line 70, app/assets/stylesheets/slick.scss */
[dir="rtl"] .slick-slide {
  float: right;
}

/* line 73, app/assets/stylesheets/slick.scss */
.slick-slide img {
  display: block;
  height: 350px;
  width: 400px;
  margin: 10px;
  float: left;
}

/* line 80, app/assets/stylesheets/slick.scss */
.slick-slide.slick-loading img {
  display: none;
}

/* line 86, app/assets/stylesheets/slick.scss */
.slick-slide.dragging img {
  pointer-events: none;
}

/* line 90, app/assets/stylesheets/slick.scss */
.slick-initialized .slick-slide {
  display: block;
}

/* line 94, app/assets/stylesheets/slick.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}

/* line 98, app/assets/stylesheets/slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 104, app/assets/stylesheets/slick.scss */
.slick-arrow.slick-hidden {
  display: none;
}
