<main>
  <div class="explanatories_slick_tab">
  <div id="explanatories_slick" style="height:100vh;">
    <div>
      <img src="assets/byodoin.jpg">
      <p class="caption">
        これからこのサイトを作ろうと考えた経緯についてお話します。<br>
      私の出身地の近くには城下町があり、昔から休みの日を使って、様々な神社や寺院を訪れていました。<br>
      このサイトを作成した時点では、北は栃木県から南は熊本県まで様々な寺社仏閣を巡り、参拝してきました。<br>
      </p>
    </div>
    <div>
      <img src="assets/todaiji.jpg">
      <p class="caption">
        木々に囲まれて静寂とした空間にいるだけで落ち着きました。<br>
        参拝した記憶として写真や御朱印を集め、今では御朱印帳が4冊になりました。(2020/04時点)<br>
        昨今、若い方も多く参拝される姿を目にするようになりましたが、まだ、多くの人にとっては古臭いと思われることがあり、興味を持ってもらえない事が多いと感じていました。<br>
        そこで、もっと多くの人々に日本の文化、遺産としての寺社仏閣の魅力を紹介する足掛かりに出来ればと思い、今回、このサイトを作成しました。
      </p>
    </div>
    <div>
      <img src="assets/ginkaku.jpg">
      <p class="caption">
      これから先様々な寺社仏閣の情報を集め、日本全国のまだ知らない場所を知るきっかけになればよいと思います。<br>
      また、日本の寺社仏閣の魅力を広く伝えることができればと思います。<br>
      </p>
    </div>
  </div>
  </div>
</main>