<div class="home_main">
    <div class="top-wrapper">
      <div class="container">
        <h1>参拝旅のすゝめ</h1>
        <h2>～日本中の<span class="shrine_color">神社</span><span class="temple_color">仏閣</span>を旅しよう～</h2>
        <p>このサイトはこれまで参拝した神社やお寺を紹介しあうサイトです。</p>
        <p>近所の神社から旅行で旅したお寺まで日本中にある様々な神社仏閣をみんなに紹介しませんか？</p>
      </div>
    </div>
</div>