<main>
  <div class="home">
    <div class="home_main">
      <div class="top-wrapper">
        <div class="container">
          <h1>参拝旅のすゝめ</h1>
          <h2>～日本中の<span class="shrine_color">神社</span><span class="temple_color">仏閣</span>を旅しよう～</h2>
          <p>このサイトはこれまで参拝した神社やお寺を紹介しあうサイトです。</p>
          <p>近所の神社から旅行で旅したお寺まで日本中にある様々な神社仏閣をみんなに紹介しませんか？</p>
        </div>
      </div>
    </div>
    <div class="select">
      <div class="Home_Choice">
      <h3>選択</h3>
        <p>日本には多くの寺社仏閣があります。<br>
        ご自身に合う寺社仏閣を探してみてください<br>
        ※事前に会員登録をする事で投稿をする事もできます</p>
      </div>
        <div class="select_choice">
          <a href="shrines">
          <div class="select_shrine">
            <img src="assets/shirine.mark.jpg">
            <p class="Choice">神社</p>
          </div>
          </a>
          <a href="temples">          
          <div class="select_temple">
            <img src="assets/temple.mark.png">            
            <p class="Choice">寺院</p>            
          </div>
          </a>
        </div>
      </div>
    </div>
    <div class="overview">
      <div class="explanatories_slick_tab">
        <div id="explanatories_slick" style="height:100vh;">
          <div>
            <img src="assets/byodoin.jpg">
            <p class="top_caption">
            サイト概要
            </p>          
            <p class="caption">
              これからこのサイトを作ろうと考えた経緯についてお話します。<br>
            私の出身地の近くには城下町があり、昔から休みの日を使って、様々な神社や寺院を訪れていました。<br>
            このサイトを作成した時点では、北は栃木県から南は熊本県まで様々な寺社仏閣を巡り、参拝してきました。<br>
            </p>
          </div>
          <div>
            <img src="assets/todaiji.jpg">
            <p class="top_caption">
            サイト概要
            </p>                  
            <p class="caption">
              木々に囲まれて静寂とした空間にいるだけで落ち着きました。<br>
              参拝した記憶として写真や御朱印を集め、今では御朱印帳が4冊になりました。(2020/04時点)<br>
              昨今、若い方も多く参拝される姿を目にするようになりましたが、まだ、多くの人にとっては古臭いと思われることがあり、興味を持ってもらえない事が多いと感じていました。<br>
              そこで、もっと多くの人々に日本の文化、遺産としての寺社仏閣の魅力を紹介する足掛かりに出来ればと思い、今回、このサイトを作成しました。
            </p>
          </div>
          <div>
            <img src="assets/ginkaku.jpg">
            <p class="top_caption">
            サイト概要
            </p>                  
            <p class="caption">
            これから先様々な寺社仏閣の情報を集め、日本全国のまだ知らない場所を知るきっかけになればよいと思います。<br>
            また、日本の寺社仏閣の魅力を広く伝えることができればと思います。<br>
            </p>
          </div>
        </div>
      </div>
    </div>        
  </div>
</main>