// Place all the styles related to the shrines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 横スクロール */
.horizontal_scroll {
  overflow-x: scroll;
  // -webkit-overflow-scrolling: touch;
  padding: 15px;
  display: -ms-flexbox;
  display: flex;
}
.horizontal_scroll > li {
  width: 100%;
  max-width: 140px;
  list-style: none; 
}

.shrine_thumbnail{
  max-width:140px;
  margin:5px;
}

@media screen and (min-width: 768px) {
  .horizontal_scroll > li {
    min-width: inherit;
  } 
}

.horizontal_scroll > li:not(:last-child) {
  margin-right: 5px; }

.horizontal_scroll > li:last-child {
  padding-right: 5px; }

@media screen and (min-width: 768px) {
  .horizontal_scroll > li:last-child {
    padding-right: 0; } }

.horizontal_scroll img {
  vertical-align: bottom;
  max-height:140px;
  max-width:140px;
  margin:0 5px;
}

// 神社情報の新規登録

.shrine_new_form{
  background-image:url('KUMAKICHI1027540_TP_V.jpg');
  background-size: cover;
  margin:0;
  padding:0;

  .container {  
    max-width: 510px;
    min-width: 324px;
    padding-top:20px;
    background-color: white;
    border: 1px solid lighten(grey, 1%); 
    border-bottom: 3px solid grey;
    background-image:url('KUMAKICHI1027540_TP_V.jpg');
    color:white;
  }
  
  .row {
    width: 100%;
    margin: 0 0 1em 0;
    padding: 0 2.5em;
    &.header {
      padding: 1.5em 2.5em;
      border-bottom: 1px solid grey; 
      background: url('IMG_20190914_191108_273.jpg');
      background-size: cover;
      color: white;
    }
  }
}

//indexページ
.shrine_index{
  margin:0 100px;
  background-image:url('和柄.png');
  margin:0;
  height:100%;
}

.shrine_item{
  width:1100px;
  height:450px;
  margin:15px auto;
  text-align:center;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);   
}

.shrine_infomation{
  position:absolute;  
  width:670px;
  height:100%;
  float:right;
  margin-left:410px;
  p{
    text-align:left;
    margin-left:30px;
  }
  h2,h3{
    color:#000;
    text-align: left;
    margin-left:30px;
    font-size:25px;
  }
  h3{
    font-size:20px;
  }
}

.item-photo{
  color: #333333;
  list-style: none;
  margin: 0 0 0 15px;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  float: left;
  width: 228px;
}

.item-mainImg{
  color: #333333;
  list-style: none;
  margin:0;
  padding: 0 0 0 5px;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 228px;
  height: 100%;
  background-color: #fff;
  float:left;
}

.item-thumbs{
	display: flex;
  float: right;
  list-style-type: none;
}

.shrine_slider_ttl{
  width:1200px; 
  height:270px;
  margin:0 195px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);   
}

/* タイトル */
.slider_ttl {
  color: #333;
  text-align: inherit;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: inherit;
  margin: 0 0 10px 0;
  background-color: #e5e5e5;
  text-indent: 8px;
  font-size: 16px;
  font-weight: 700;
  box-sizing: border-box; }

/* 名前 */
.shrine_name {
  color: #bf0000;
  line-height: 1.65;
  font-size: 18px;
  margin-top: 4px; }

.shrine_photo {
  width: 140px;
  height: 100%;
  list-style:none;
  margin:0 5px;
}
  
.shrine_photo::after {
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
        
* {
  padding: 0;
  margin: 0;
}

// 編集メソッド
.shrine_edit_form{
  background-image:url('KUMAKICHI1027540_TP_V.jpg');
  background-size: cover;
  margin:0;
  padding:0;

  .container {  
    max-width: 510px;
    min-width: 324px;
    padding-top:20px;
    background-color: white;
    border: 1px solid lighten(grey, 1%); 
    border-bottom: 3px solid grey;
    background-image:url('KUMAKICHI1027540_TP_V.jpg');
    color:white;
  }
  
  .row {
    width: 100%;
    margin: 0 0 1em 0;
    padding: 0 2.5em;
    &.header {
      padding: 1.5em 2.5em;
      border-bottom: 1px solid grey; 
      background: url('IMG_20190914_191108_273.jpg');
      background-size: cover;
      color: white;
    }
  }
}

// showメソッド
.shrine_show{
  height:100%;
  margin:10px 250px;
  .col-md-4{
    margin-left:100px;
  }
  img{
    width:500px;
    height:300px;
    margin-left:50px;
  }
}

.row no-gutters{
    background-color:black;
}